<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BM Portfolio</title>
    
    <link rel="icon" href="/images/logo_white_trans.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">


</head>
<body>
    
    <!-- Header Design -->
    <header class="header">
        <div class="header-logo-name">
            <img src="/images/logo_white_trans.png" alt="" class="head-logo">
            <a href="#" class="logo">Portfolio</a>
        </div>
        <i class="fa-solid fa-bars fa-2xl" id="menu-icon"></i>

        <nav class="navbar" id="navbar">
            <a href="#home" class="navbtn active">Home</a>
            <a href="#about" class="navbtn">About</a>
            <a href="#skills" class="navbtn">Skills</a>
            <a href="#projects" class="navbtn">Projects</a>
            <a href="#contact" class="navbtn">Contacts</a>
        </nav>
    </header>
    
    <!-- Home Section Design -->
    <section class="home" id="home">
        <div class="home-content scroll-scale">
            <h3>Hello, It's Me</h3>
            <h1>Benjie Maybuena</h1>
            <h3>And I'm a <span>Web Developer</span></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            
            <div class="social-media">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="#"><i class="fa-solid fa-at"></i></a>
            </div>

            <a href="#" class="btn">Download CV</a>
        </div>

        <div class="home-img">
            <img src="/images/homepic2.png" alt="">
        </div>
    </section>

    <!-- About Section Design -->
    <section class="about" id="about">
        <div class="about-img scroll-scale">
            <img src="/images/aboutpic.png" alt="">
        </div>

        <div class="about-content scroll-scale">
            <h2 class="heading">About <span>Me</span></h2>
            <h3>Web Developer</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <a href="#" class="btn">Read More</a>
        </div>
    </section>

    <!-- Skill Section Design -->
    <section class="skills" id="skills">
        <div class="main-text scroll-scale">
            <span class="skill-span">technical and professional</span>
            <h2>My <span>Skills</span></h2>
        </div>
        <div class="skill-main">
            <div class="skill-left scroll-scale">
                <h2>Techinal Skills</h2>
                <div class="skill-bar">
                    <div class="info">
                        <p>HTML</p>
                        <p>85%</p>
                    </div>
                    <div class="bar">
                        <span class="html"></span>
                    </div>
                </div>
                <div class="skill-bar">
                    <div class="info">
                        <p>Javascript</p>
                        <p>75%</p>
                    </div>
                    <div class="bar">
                        <span class="js"></span>
                    </div>
                </div>
                <div class="skill-bar">
                    <div class="info">
                        <p>CSS</p>
                        <p>87%</p>
                    </div>
                    <div class="bar">
                        <span class="css"></span>
                    </div>
                </div>
                <div class="skill-bar">
                    <div class="info">
                        <p>PHP/Laravel</p>
                        <p>40%</p>
                    </div>
                    <div class="bar">
                        <span class="php"></span>
                    </div>
                </div>
                <div class="skill-bar">
                    <div class="info">
                        <p>React JS</p>
                        <p>70%</p>
                    </div>
                    <div class="bar">
                        <span class="reactjs"></span>
                    </div>
                </div>
                <div class="skill-bar">
                    <div class="info">
                        <p>Node JS</p>
                        <p>50%</p>
                    </div>
                    <div class="bar">
                        <span class="nodejs"></span>
                    </div>
                </div>
                <div class="skill-bar">
                    <div class="info">
                        <p>MySQL</p>
                        <p>89%</p>
                    </div>
                    <div class="bar">
                        <span class="mysql"></span>
                    </div>
                </div>
            </div>
            <div class="skills-right scroll-scale">
                <h2>Professional Skills</h2>
                <div class="professional">
                    <div class="box">
                        <div class="circle" data-dots="80" data-percent="85"></div>
                        <div class="text">
                            <big>85%</big>
                            <small>Team Work</small>
                        </div>
                    </div>
                    <div class="box">
                        <div class="circle" data-dots="80" data-percent="90"></div>
                        <div class="text">
                            <big>90%</big>
                            <small>Problem Solving</small>
                        </div>
                    </div>
                    <div class="box">
                        <div class="circle" data-dots="80" data-percent="87"></div>
                        <div class="text">
                            <big>87%</big>
                            <small>Creativity</small>
                        </div>
                    </div>
                    <div class="box">
                        <div class="circle" data-dots="80" data-percent="80"></div>
                        <div class="text">
                            <big>80%</big>
                            <small>Communication</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Projects Seciont Design -->
    <section class="projects" id="projects">
        <div class="main-text">
            <span class="skill-span">List of projects</span>
            <h2>My <span>Projects</span></h2>
        </div>
        <div class="projects-container scroll-scale">
            <div class="projects-box">
                <img src="/images/sdo_project.png" alt="">
                <div class="projects-layer">
                    <h4>Title</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
            
            <div class="projects-box">
                <img src="/images/sdo_project.png" alt="">
                <div class="projects-layer">
                    <h4>Title</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>

            <div class="projects-box">
                <img src="/images/sdo_project.png" alt="">
                <div class="projects-layer">
                    <h4>Title</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>

            <div class="projects-box">
                <img src="/images/sdo_project.png" alt="">
                <div class="projects-layer">
                    <h4>Title</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>

            <div class="projects-box">
                <img src="/images/sdo_project.png" alt="">
                <div class="projects-layer">
                    <h4>Title</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>

            <div class="projects-box">
                <img src="/images/sdo_project.png" alt="">
                <div class="projects-layer">
                    <h4>Title</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section Design -->
    <section class="contact" id="contact">
        <h2 class="heading scroll-scale">Contact <span>Me!</span></h2>

        <form action="#">
            <div class="input-box">
                <input type="text" placeholder="Full Name">
                <input type="email" placeholder="Email Address">
            </div>
            <div class="input-box">
                <input type="number" maxlength="11" max="11" placeholder="Mobile Number" 
                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                >
                <input type="text" placeholder="Email Subject">
            </div>
            <textarea name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
            <input type="submit" value="Send Message" class="btn">
        </form>
    </section>

    <!-- Footer Design -->
    <footer class="footer">
        <div class="footer-text">
            <p>Copyright &copy;<span id="year" style="color: white;"></span> by Benjie Maybuena | All Rights Reserved.</p>
        </div>
        <div class="footer-iconTop">
            <a href="#home"><i class="fa-solid fa-angle-up"></i></a>
        </div>
    </footer>


    <script>
        document.getElementById('year').innerHTML = new Date().getFullYear() + "";
    </script>
    <script src="/js/script.js"></script>
</body>
</html>